body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
    font-style: italic;
    background-color: azure;
    color: darkred;
}

h2,h3,h4,h5,h6{
    font-family: "Space Mono",monospace;
    color:blue

}

p{
    line-height: 200%;
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

a{
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: green wavy underline;
    text-transform: uppercase;
}
